div[aria-details="pending"] {
  background: #d2bf12;
}

div[aria-details="authorized"] {
  background: #2a94b6;
}

div[aria-details="partially_paid"] {
  background: #c12bda;
}

div[aria-details="partially_refunded"] {
  background: #db6868;
}

div[aria-details="voided"] {
  background: #000000;
}

div[aria-details="refunded"] {
  background: #da2b2b;
}

div[aria-details="paid"] {
  background: #2ab68f;
}

div[aria-details="expired"] {
  background: #cb7443;
}

div[aria-details="pending"] span,
div[aria-details="authorized"] span,
div[aria-details="partially_paid"] span,
div[aria-details="partially_refunded"] span,
div[aria-details="voided"] span,
div[aria-details="refunded"] span,
div[aria-details="paid"] span,
div[aria-details="expired"] span {
  text-transform: capitalize;
}
