div[aria-details="nav-bar"] button div,
div[aria-details="nav-bar"] button div span,
div[aria-details="nav-bar"] button div span svg {
  height: 30px;
  width: 30px;
}

div[aria-details="nav-bar"] button span {
  font-size: 1rem;
}

div[aria-details="nav-bar"] button {
  display: flex;
  align-items: center;
}

div[aria-details="nav-bar"] {
  height: 100%;
}

div[aria-details="nav-bar"] > * {
  max-width: 100%;
  min-width: 100%;
}

html {
  overflow: hidden;
}
