div[aria-details="container"]{
    background: #24303E;
    color: white;

    display: flex;
    align-items: center;

    font-family: Roboto, sans-serif;
    padding: 0 20px;
}

div[aria-details="container"] span:nth-child(1){
    height: 40px;
    width: 40px;
}
