.header_container{
    height: 64px;
    background: #24303E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    color: white;

    font-family: Roboto, sans-serif;
    padding: 0 20px;
}

.header_logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_logo h2{
    font-weight: bold;
}