.related-products-wrapper {
}

.related-products-dummy {
    padding: 10px;
    clear: both;
}

.related-product-list {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.related-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3px;
    max-width: 165px;
}

.related-product-image {
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.related-product-image img {
    max-width: 100%;
    max-height: 100%;
}

.related-product-price {
    color: var(--color-body-text);
}